.container{
    display: flex;
    padding: 1em;
    font-size: 1.5rem;
    border: 2px solid black;
}
.textContainer{
    padding: 1em;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(215, 231, 246);
    border: 2px solid black;
}
.textContainer input{
    grid-column: 1/-1;
}
.textItems {
    background-color: #f0f0f0;
    padding: 1em;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
  }