.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "nav nav"
    "sidebar main"
    "sidebar footer";
}
.nav{
    grid-area: nav;
    background-color: rgb(70, 138, 240);
    justify-content: center;
    display: flex;
    padding: 1em;
    font-size: large;
    color: white;
    font-weight: bold;
}
.main{
    grid-area: main;
    background-color: rgb(235, 235, 126);
}
.sidebar{
    grid-area: sidebar;
    background-color: rgb(246, 141, 233);
}
.footer{
    grid-area: footer;
    background-color: rgb(158, 235, 235);
}